body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 62.5%;
}



h1.headline  {
    color: #eee;
    font-weight: 400;
}

.textintro p {
    color: #eee;
    font-weight: 400;
}

.row.landing {
    background-color: #eee;

}

.jumbotron.jumbotron-fluid {
    background-image: url("../images/travelbgphoto2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-control {
    border-radius: 0;
    background-color: #fff;
    border: none;
    padding: 10px 200px 10px 10px;
    /* margin-top: 15px; */
}

form.citysearch {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: auto;
    max-width: 50%;
 }
 
 .btn.btn-primary {
    padding: 10px;
    border-radius: 0;
 }

.textintro h1, p {
    text-align: center;
    color: #494949;
}

.textintro h1 {
    font-size: 5em;
    font-weight: bold;
}

.textintro p {
    font-size: 2em;
}



.row.weatheralert {
    margin: auto;
    width: 75%;
}

.card {
    border: 0;
    border-radius: 0;
}

.card-body {
    padding: 0;
}

.card-header {
    background-color: #626375;
}
.cardinfo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.cardinfo.right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.cardinfo.time {
    background-color: rgb(247, 247, 207);
    padding-top: 2em;
    padding-bottom: 2em;
}

.cardinfo.zone {
    background-color: rgb(250, 199, 132);
    padding-top: 2em;
    padding-bottom: 2em;
}

.cardinfo.searches {
    background-color: #fa7979;
    flex-wrap: wrap;
    padding-top: 2em;
    padding-bottom: 2em;
}

.cardinfo.popular {
    background-color: #b082ca;
    flex-wrap: wrap;
    padding-top: 2em;
    padding-bottom: 2em;
}

.alert-row {
    margin: auto;
    max-width: 75%;
}

.restaurant-img {
    height: 250px;
    padding: 10px;
    margin-right: 25px;
}

.restaurant-txt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}


.rest-name-class {
    text-align: left;
}
.rest-address-class {
    text-align: left;
    font-size: 1.6em;
} 




/* .slideshow {
    width: 100%;
    height: 350px;
    background-color: #eee;
  
} */

.row.searchoptions {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; */
    max-width: 75%;
    margin: auto;
    
}

.searchimg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 75%;
    
}

.pictures {
    width:30%;
padding: 15px;   
    
}

.row.searchoptions h2 {
    color: #fa7979;
    font-weight: 600;
    font-size: 2em;
}


.row.googlemap {
    background-color: #eee;
    /* height: 300px; */
}

#map {
    /* margin: auto;
    height: 300px;
    max-width: 60%; */
    height: 300px;
}

@media (max-width: 767.98px) { 

    form.citysearch {
        max-width: 85%;
     }

     .row.weatheralert {
         width: 100%;
         margin: 0;
         /* display: flex;
         flex-wrap: wrap; */
     }

     .card.response {
         width: 100%;
     }


}


